* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  background-image: url(../public/assets/images/4935872.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  height: 50px;
  width: 50px;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}
.navbar__item {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.navbar__link {
  text-decoration: none;
}
.header__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__texts {
  max-width: 709px;
}
.header__title {
  margin-bottom: 28px;
  font-weight: normal;
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}
.header__img {
  position: absolute;
  width: 350px;
  height: auto;
  top: 250px;
  right: 5px;
}
.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__footer_info_location {
  align-self: flex-end;
}
