* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  background-image: url(../public/assets/images/4935872.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  height: 50px;
  width: 50px;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}
.navbar__item {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.navbar__link {
  text-decoration: none;
}
.header__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__texts {
  max-width: 709px;
}
.header__title {
  margin-bottom: 28px;
  font-weight: normal;
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}
.header__img {
  position: absolute;
  width: 350px;
  height: auto;
  top: 250px;
  right: 5px;
}
.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__footer_info_location {
  align-self: flex-end;
}

.recetas {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  background-color: rgb(3, 48, 131);
  color: white;
}
.recetas__titulo {
  margin: 0 auto 0 80px;
  max-width: 580px;
}
.recetas__titulo-text {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recetas__subtitulo {
  margin: 24px auto 80px 80px;
  max-width: 438px;
}
.recetas__subtitulo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recetas__videos {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1000px;
  gap: 40px;
}
.recetas__video {
  width: 480px;
  height: 273px;
}
.recetas__video-iframe {
}
.recetas__video-caption {
  margin-top: 24px;
}

.registro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: 1px solid red;
}

.registro__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 80px;
  border: 1px solid red;
}
.registro__form-container {
  border: 1px solid red;
}
.registro__form {
  max-width: 385px;
  border: 1px solid red;
}
.registro__fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid red;
}
.registro__field {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 1px solid red;
}
.registro__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid red;
}
.registro__label--name {
  border: 1px solid red;
}
.registro__label--persons {
  border: 1px solid red;
}
.registro__label--date {
  border: 1px solid red;
}
.registro__label--email {
  border: 1px solid red;
}
.registro__input {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  min-width: 385px;

  border: 1px solid red;
}
.registro__input::placeholder {
  color: #838383;
}
.registro__input--name {
  border: 1px solid red;
}
.registro__input--persons {
  border: 1px solid red;
}
.registro__input--date {
  border: 1px solid red;
}
.registro__input--email {
  border: 1px solid red;
}
.registro__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  min-width: 385px;
  height: 60px;
  color: white;
  background-color: #2f80ed;
  border: 1px solid red;
}
.registro__terms {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 12px;
  border: 1px solid red;
}
.registro__checkbox {
  height: 12px;
  width: 12px;
  border: 1px solid red;
}
.registro__checkbox-accept {
  border: 1px solid red;
}
